@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Registering new patients or learning about previous medical history are some of the processes made easier with our online healthcare form</p>
