@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    7603 Makhetha street <br />
    Orlando West<br />
    <abbr title="Phone">Phone:</abbr>
    (011).000.0000
</address>

<address>
    <strong>Support:</strong>   <a href="samkelo.nhlapo@gmail.com">Samkelo.nhlapo@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="samkelo.nhlapo@gmail.com">Samkelo.nhlapo@gmail.com@gmail.com</a>
</address>